<html>
<head>
    <title>Thống kê khách hàng đang quản lý</title>
</head>
<body>
    <h1>Thống kê số lượng khách hàng đang quản lý</h1>
    <p>Mã nhân viên: @ViewBag.MaNhanVien</p>
    <p>Họ tên nhân viên: @ViewBag.HoTenNhanVien</p>
    <p>Số đơn hàng đang quản lý: @ViewBag.SoDonHangDangQuanLy</p>
</body>
</html>

