<html>
<head>
    <title>Thống kê đơn hàng</title>
</head>
<body>
    <h1>Thống kê số lượng đơn hàng đã lập</h1>
    <p>Mã khách hàng: @ViewBag.MaKhachHang</p>
    <p>Họ tên khách hàng: @ViewBag.HoTenKhachHang</p>
    <p>Số đơn hàng đã lập: @ViewBag.SoDonHangDaLap</p>
</body>
</html>

